<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8"/>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.0&appId=278025672770919&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Trang chủ</title>
    <style>
        .postinfobot .next {
            width: 120px;
        }

        .fb-share-button span {
            vertical-align: middle !important;
        }
    </style>
</head>
<body>
<div id="fb-root"></div>

<div layout:fragment="content">
    <section class="content">
        <div class="container">
            <div class="row">
                <form th:action="@{/create/save}" method="post">
                    <div class="col-lg-8 col-md-8">
                        <div class="post">
                            <form th:action="@{/create/save}" class="form newtopic" method="get">
                                <div class="topwrap">
                                    <div class="userinfo pull-left">
                                        <div class="avatar">
                                            <img th:src="@{images/avatar4.jpg}" alt="">
                                            <div class="status red">&nbsp;</div>
                                        </div>
                                    </div>
                                    <div class="questiontext pull-left">

                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <select th:name="topicId" id="category" class="form-control">
                                                    <option value disabled selected>Chọn chủ đề</option>
                                                    <option th:each="topic : ${topics}" th:value="${topic.topicId}"
                                                            th:text="${topic.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div>
                                            <input id="titletopic" th:name="content" type="text"
                                                   placeholder="Đặt câu hỏi"
                                                   class="form-control">
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="postinfobot">
                                    <div class="notechbox pull-left">
                                        <!--<input type="checkbox" name="note" id="note" class="form-control">-->
                                    </div>
                                    <div class="pull-right postreply">
                                        <div class="pull-left smile">
                                            <!--<a href="#">-->
                                            <!--<i class="fa fa-smile-o" th:alt="ssss"></i>-->
                                            <!--</a>-->
                                        </div>
                                        <div class="pull-left">
                                            <button type="submit" class="btn btn-primary"
                                                    style="background-color: #1abc9c">Đăng câu hỏi
                                            </button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <table class="table" th:each="question : ${questions}">
        <tr>
            <div class="post" style="border: 2px">
                <div class="wrap-ut pull-left">
                    <div class="userinfo pull-left">
                        <div class="avatar">
                            <img th:src="@{images/avatar.jpg}" alt=""/>
                            <div class="status green">&nbsp;</div>
                        </div>

                        <div class="icons">
                        </div>
                    </div>
                    <div class="usertext pull-left">
                        <p><b><a href="#">Username</a></b></p>
                        <p>Unknown</p>
                    </div>
                    <div class="posttext pull-left">
                        <h2><a th:href="@{/view(id=${question.questionId})}" th:text="${question.content}"></a></h2>
                        <p th:text="${question.description}"></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="postinfo pull-left">
                    <div class="comments">
                        <div class="commentbg">
                            <span th:text="${question.answerCount}"></span>
                            <div class="mark"></div>
                        </div>

                    </div>
                    <div class="views"><i class="fa fa-eye"></i> <span th:text="${question.questionId}">1568</span>
                    </div>
                    <div class="time"><i class="fa fa-clock-o"></i>
                        <span th:text="${question.diffTime}">24 min</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="postinfobot">

                    <div class="likeblock pull-left">
                        <a href="#" class="up"><i class="fa fa-thumbs-o-up"></i>55</a>
                        <a href="#" class="down"><i class="fa fa-thumbs-o-down"></i>12</a>
                    </div>

                    <div class="prev pull-left">
                        <a href="#"><i class="fa fa-reply"></i></a>
                    </div>

                    <div class="next pull-right">
                        <div class="fb-share-button"
                             th:attr="data-href=@{/view(id=${question.questionId})}"
                             data-layout="button_count" data-size="small" data-mobile-iframe="true">
                            <a target="_blank" class="fb-xfbml-parse-ignore" th:with="url=@{/view(id=${question.questionId})}"
                               th:href="@{https://www.facebook.com/sharer/sharer.php(u=${url},src='sdkpreparse')}">Chia sẻ</a>
                        </div>

                        <!--<a target='_blank' href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fthuonghieuweb.com%2Fhuong-dan-nhung-nut-chia-se-facebook-va-google-plus-vao-website.html&amp;src=sdkpreparse"><i class="fa fa-share"></i></a>-->
                        <a href="#"><i class="fa fa-flag"></i></a>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </tr>
    </table>
</div>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>