<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8"/>
    <script>
        // This is called with the results from from FB.getLoginStatus().
        // function statusChangeCallback(response) {
        //     console.log('statusChangeCallback');
        //     console.log(response);
        //     // The response object is returned with a status field that lets the
        //     // app know the current login status of the person.
        //     // Full docs on the response object can be found in the documentation
        //     // for FB.getLoginStatus().
        //     if (response.status === 'connected') {
        //         // Logged into your app and Facebook.
        //         testAPI();
        //     } else {
        //         // The person is not logged into your app or we are unable to tell.
        //         document.getElementById('status').innerHTML = 'Please log ' +
        //             'into this app.';
        //     }
        // }
        //
        // // This function is called when someone finishes with the Login
        // // Button.  See the onlogin handler attached to it in the sample
        // // code below.
        // function checkLoginState() {
        //     FB.getLoginStatus(function (response) {
        //         statusChangeCallback(response);
        //     });
        // }
        //
        // window.fbAsyncInit = function () {
        //     FB.init({
        //         appId: '278025672770919',
        //         cookie: true,  // enable cookies to allow the server to access
        //                        // the session
        //         xfbml: true,  // parse social plugins on this page
        //         version: 'v3.0' // use graph api version 2.8
        //     });
        //
        //     // Now that we've initialized the JavaScript SDK, we call
        //     // FB.getLoginStatus().  This function gets the state of the
        //     // person visiting this page and can return one of three states to
        //     // the callback you provide.  They can be:
        //     //
        //     // 1. Logged into your app ('connected')
        //     // 2. Logged into Facebook, but not your app ('not_authorized')
        //     // 3. Not logged into Facebook and can't tell if they are logged into
        //     //    your app or not.
        //     //
        //     // These three cases are handled in the callback function.
        //
        //     FB.getLoginStatus(function (response) {
        //         statusChangeCallback(response);
        //     });
        // };
        //
        // (function (d, s, id) {
        //     var js, fjs = d.getElementsByTagName(s)[0];
        //     if (d.getElementById(id)) return;
        //     js = d.createElement(s);
        //     js.id = id;
        //     js.src = 'https://connect.facebook.net/vi_VN/sdk.js';
        //     /*js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.0&appId=278025672770919&autoLogAppEvents=1';*/
        //     fjs.parentNode.insertBefore(js, fjs);
        // }(document, 'script', 'facebook-jssdk'));
        //
        // // Here we run a very simple test of the Graph API after login is
        // // successful.  See statusChangeCallback() for when this call is made.
        // function testAPI() {
        //     console.log('Welcome!  Fetching your information.... ');
        //     FB.api('/me', function (response) {
        //         console.log('Successful login for: ' + response.name);
        //         document.getElementById('status').innerHTML =
        //             'Thanks for logging in, ' + response.name + '!';
        //     });
        // }
    </script>
    <script src="https://plus.google.com/js/client:platform.js" async defer></script>
    <script>
        /**
         * Handler for the signin callback triggered after the user selects an account.
         */
        var access_token = "";
        function onSignInCallback(resp) {
            debugger;
            access_token = typeof resp.access_token !== 'undefined' ? resp.access_token : "";
            gapi.client.load('plus', 'v1', apiClientLoaded);
        }

        /**
         * Sets up an API call after the Google API client loads.
         */
        function apiClientLoaded() {
            gapi.client.plus.people.get({userId: 'me'}).execute(handleEmailResponse);
        }

        /**
         * Response callback for when the API client receives a response.
         *
         * @param resp The API response object with the user email and profile information.
         */
        function handleEmailResponse(resp) {
            if (resp.code != 403) {
                debugger;
                var id = typeof resp.id !== 'undefined' ? resp.id : "";
                var displayName = typeof resp.displayName !== 'undefined' ? resp.displayName : "";
                var image_url = typeof resp.image.url !== 'undefined' ? resp.image.url : "";

                var primaryEmail = "";
                if (typeof resp.emails !== 'undefined') {
                    for (var i = 0; i < resp.emails.length; i++) {
                        if (resp.emails[i].type === 'account') primaryEmail = resp.emails[i].value;
                    }
                }


                /*document.getElementById('responseContainer').value = 'Primary email: ' + primaryEmail + '\n\nFull Response:\n' + JSON.stringify(resp);*/
                /*window.location = '/?email=' + primaryEmail;*/

                var profile = {};
                profile["id"] = id;
                profile["display_name"] = displayName;
                profile["email"] = primaryEmail;
                profile["image_url"] = image_url;
                profile["access_token"] = access_token;

                $.ajax({
                    url: "/login_google",
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify(profile),
                    beforeSend: function () {

                    },
                    headers: {},
                    success: function (data) {
                        var message = data.msg;
                        // alert(message);
                        window.location="http://localhost:8888/";
                    },
                    error: function (data) {
                        // alert("Đã có lỗi xảy ra. Vui lòng thử lại !");
                    }
                });
            }
        }
    </script>
    <!--<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"/>-->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Trang chủ</title>
    <style>
        .fb_iframe_widget span {

        }
    </style>
</head>
<body>
<div id="fb-root"></div>

<div layout:fragment="main-content">
    <section class="content">
        <div class="col-lg-2 col-md-2">

        </div>
        <div class="col-lg-8 col-md-8">
            <!--DEFINE CONTENT HERE!!!-->
            <div class="content-wrapper">
                <section class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-8">
                                <div class="post">
                                    <form th:action="@{/login}" class="form newtopic" method="post">
                                        <div class="postinfotop">
                                            <h2>Login</h2>
                                        </div>

                                        <div class="accsection">
                                            <div class="topwrap">
                                                <div class="userinfo pull-left">
                                                    <div class="avatar">
                                                    </div>
                                                </div>
                                                <div class="posttext pull-left">
                                                    <div class="row">
                                                        <input th:name="username" type="text"
                                                               placeholder="Username"
                                                               class="form-control"/>
                                                    </div>
                                                    <div class="row">
                                                        <input th:name="password" type="password"
                                                               placeholder="Password"
                                                               class="form-control" id="pass" name="pass"/>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div><!-- acc section END -->

                                        <div class="postinfobot">
                                            <!--<div class="pull-left lblfch">-->
                                            <!--<div th:if="${param.error}!=null">-->
                                            <!--<p style="color: red">Tài khoản hoặc mật khẩu không đúng.</p>-->
                                            <!--</div>-->
                                            <!--</div>-->
                                            <div class="pull-right postreply">
                                                <div class="pull-left smile">
                                                    <div class="pull-left">
                                                        <button type="submit" class="btn btn-primary">Login
                                                        </button>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="col-lg-4 col-md-4">
                                    <a href="https://www.facebook.com/v2.5/dialog/oauth?client_id=278025672770919&redirect_uri=https://localhost:8888/">Login
                                        Facebook</a>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <a href="https://accounts.google.com/o/oauth2/auth?scope=email&redirect_uri=http://localhost:8888/login-google&response_type=code&client_id=930932659996-9jvtvg7igq7fm5574b2f5qlbdbm3vh9d.apps.googleusercontent.com&approval_prompt=force">Login
                                        With Gmail</a>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <a th:href="@{/registerForm}" role="menuitem">SignUp</a>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="text-align: center; margin-top: 50px">
                            <!--<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
-->
                            <!--<fb:login-button size="xlarge" scope="public_profile,email" onlogin="checkLoginState();">-->
                                <!--Sign in-->
                            <!--</fb:login-button>-->

                            <div id="status">
                            </div>
                        </div>

                        <div class="row" style="text-align: center; margin-top: 50px">
                            <div id="gConnect" class="button">
                                <button class="g-signin"
                                    data-clientid="930932659996-9jvtvg7igq7fm5574b2f5qlbdbm3vh9d.apps.googleusercontent.com"
                                    data-callback="onSignInCallback"
                                    data-theme="dark"
                                    data-size="large"
                                        data-scope="profile email"
                                    data-cookiepolicy="single_host_origin">
                                </button>
                                <!-- Textarea for outputting data -->
                                <div id="response" class="hide">
                                    <textarea id="responseContainer" style="width:100%; height:150px"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <table class="table" th:each="question : ${questions}">
        <tr>
            <div class="post" style="border: 2px">
                <div class="wrap-ut pull-left">
                    <div class="userinfo pull-left">
                        <div class="avatar">
                            <img th:src="@{images/avatar.jpg}" alt=""/>
                            <div class="status green">&nbsp;</div>
                        </div>

                        <div class="icons">
                            <!--<img th:src="@{images/icon1.jpg}" alt=""/><img th:src="@{images/icon4.jpg}" alt=""/>-->
                        </div>
                    </div>
                    <div class="usertext pull-left">
                        <p><b><a href="#">Username</a></b></p>
                        <p>Unknown</p>
                    </div>
                    <div class="posttext pull-left">
                        <h2><a th:href="@{/view(id=${question.questionId})}" th:text="${question.content}"></a></h2>
                        <p th:text="${question.description}"></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="postinfo pull-left">
                    <div class="comments">
                        <div class="commentbg">
                            <span th:text="${question.answerCount}"></span>
                            <div class="mark"></div>
                        </div>

                    </div>
                    <div class="views"><i class="fa fa-eye"></i> <span th:text="${question.questionId}">1568</span>
                    </div>
                    <div class="time"><i class="fa fa-clock-o"></i>
                        <span th:text="${question.diffTime}">24 min</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="postinfobot">

                    <div class="likeblock pull-left">
                        <a href="#" class="up"><i class="fa fa-thumbs-o-up"></i>55</a>
                        <a href="#" class="down"><i class="fa fa-thumbs-o-down"></i>12</a>
                    </div>

                    <div class="prev pull-left">
                        <a href="#"><i class="fa fa-reply"></i></a>
                    </div>

                    <div class="next pull-right">
                        <a href="#"><i class="fa fa-share"></i></a>

                        <a href="#"><i class="fa fa-flag"></i></a>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </tr>
    </table>
</div>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>