<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>User Info</title>
</head>
<body>
<div layout:fragment="main-content">
    Logged user: <span sec:authentication="name">[[${#httpServletRequest.remoteUser}]]</span> <br/>
    <form action="#" th:action="@{/logout}" method="POST">
        <button type="submit">Logout</button>
    </form>
    <div class="container">
        <section style="padding-bottom: 50px; padding-top: 50px;">
            <div class="row">
                <div class="col-md-4">
                    <img src="assets/img/250x250.png" class="img-rounded img-responsive" />
                </div>
                <div class="col-md-8">
                    <form th:action="@{/userInfo/update}" method="post">
                    <div class="form-group col-md-8" th:object="${user}">
                        <!--<p th:text="${user.name}"></p>-->
                        <h3>Thông tin cá nhân</h3>
                        <br />
                        <label>Họ và tên</label>
                        <input type="text" th:name="name" class="form-control" placeholder="Demouser" th:value="${user.name}">
                        <br />
                        <label>Email</label>
                        <input type="text" th:name="email" class="form-control" placeholder="Demouser" th:value="${user.email}">
                        <br />
                        <label>Số điện thoại</label>
                        <input type="text" th:name="phoneNumber" class="form-control" placeholder="Demouser" th:value="${user.phoneNumber}">
                        <br />
                        <label>Ngày tháng năm sinh</label>
                        <input type="date" th:name="dob" class="form-control" placeholder="Demouser" th:value="${user.dob}">
                        <br />
                        <label>Giới tính</label>
                        <input type="text" th:name="gender" class="form-control" placeholder="Demouser" th:value="${user.gender}">
                        <br />
                        <label>Địa chỉ</label>
                        <input type="text" th:name="address" class="form-control" placeholder="Demouser" th:value="${user.address}">
                        <br />
                        <label>Nghề nghiệp</label>
                        <input type="text" th:name="job" class="form-control" placeholder="Demouser" th:value="${user.job}">
                        <br />
                        <br>
                        <button type="submit" class="btn btn-primary"
                                style="background-color: #1abc9c">Cập nhật
                        </button>
                        <!--<a href="#" class="btn btn-warning">Cập nhật</a>-->
                    </div>
                    </form>
                </div>
            </div>
            <!-- ROW END -->
        </section>
        <!-- SECTION END -->
    </div>
    <!-- CONATINER END -->

    <!-- REQUIRED SCRIPTS FILES -->
    <!-- CORE JQUERY FILE -->
    <script src="assets/js/jquery-1.11.1.js"></script>
    <!-- REQUIRED BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.js"></script>
</div>
</body>
</html>