<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <!--<link th:href="@{/bootstrap.css}" rel="stylesheet" media="screen">-->
    <title>Chi tiết Topic</title>
</head>
<body>
<div layout:fragment="content">
    <div class="post beforepagination">
        <div class="topwrap">
            <div class="userinfo pull-left">
                <div class="avatar">
                    <img th:src="@{images/avatar.jpg}" alt=""/>
                    <div class="status green">&nbsp;</div>
                </div>

                <div class="icons">
                    <!--<img th:src="@{images/icon1.jpg}" alt=""/><img th:src="@{images/icon4.jpg}" alt=""/>-->
                    <!--<img th:src="@{images/icon5.jpg}" alt=""/><img th:src="@{images/icon6.jpg}" alt=""/>-->
                </div>
            </div>
            <div class="posttext pull-left" th:object="${question}">
                <h2 th:text="${question.content}"></h2>
                <p th:text="${question.description}"></p>
                <!--<p>Today, we're looking at three particularly interesting stories. Pinterest added a new-->
                    <!--location-based-->
                    <!--feature on Wednesday that uses Place Pins as a way to map out vacations and favorite areas.-->
                    <!--Southwest Airlines is providing Wi-Fi access from gate to gate for $8 per day through an onboard-->
                    <!--hotspot. And in an effort to ramp up its user base, Google Wallet is offering a debit card that-->
                    <!--can-->
                    <!--take out cash from.</p>-->
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="postinfobot">

            <div class="likeblock pull-left">
                <a href="#" class="up"><i class="fa fa-thumbs-o-up"></i>25</a>
                <a href="#" class="down"><i class="fa fa-thumbs-o-down"></i>3</a>
            </div>

            <div class="prev pull-left">
                <a href="#"><i class="fa fa-reply"></i></a>
            </div>

            <div class="posted pull-left"><i class="fa fa-clock-o"></i><span th:text="${question.diffTime}"></div>

            <div class="next pull-right">
                <a href="#"><i class="fa fa-share"></i></a>

                <a href="#"><i class="fa fa-flag"></i></a>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

    <table class="table" th:each="answer : ${answers}">
        <tr>
    <!-- POST -->
    <div class="post">
        <div class="topwrap">
            <div class="userinfo pull-left">
                <div class="avatar">
                    <img src="images/avatar3.jpg" alt="" />
                    <div class="status red">&nbsp;</div>
                </div>

                <div class="icons">
                    <!--<img src="images/icon3.jpg" alt="" /><img src="images/icon4.jpg" alt="" /><img src="images/icon5.jpg" alt="" /><img src="images/icon6.jpg" alt="" />-->
                </div>
            </div>
            <div class="posttext pull-left">
                <p th:text="${answer.content}"></p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="postinfobot">

            <div class="likeblock pull-left">
                <a href="#" class="up"><i class="fa fa-thumbs-o-up"></i>55</a>
                <a href="#" class="down"><i class="fa fa-thumbs-o-down"></i>12</a>
            </div>

            <div class="prev pull-left">
                <a href="#"><i class="fa fa-reply"></i></a>
            </div>

            <div class="posted pull-left"><i class="fa fa-clock-o"></i><span th:text="${answer.diffTime}"></div>

            <div class="next pull-right">
                <a href="#"><i class="fa fa-share"></i></a>

                <a href="#"><i class="fa fa-flag"></i></a>
            </div>

            <div class="clearfix"></div>
        </div>
    </div><!-- POST -->
        </tr>
    </table>

    <!-- POST -->
    <div class="post">
        <form th:action="@{/view/save}" method="post">
            <div class="topwrap">
                <div class="userinfo pull-left">
                    <div class="avatar">
                        <img src="images/avatar4.jpg" alt="" />
                        <div class="status red">&nbsp;</div>
                    </div>

                    <div class="icons">
                        <!--<img src="images/icon3.jpg" alt="" /><img src="images/icon4.jpg" alt="" /><img src="images/icon5.jpg" alt="" /><img src="images/icon6.jpg" alt="" />-->
                    </div>
                </div>
                <div class="posttext pull-left">
                    <div class="textwraper">
                        <div class="postreply">Câu trả lời</div>
                        <textarea th:name="content" id="reply" placeholder="Nhập câu trả lời"></textarea>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="postinfobot">

                <div class="notechbox pull-left">
                    <input type="checkbox" name="note" id="note" class="form-control" />
                </div>

                <div class="pull-right postreply">
                    <div class="pull-left smile"><a href="#"><i class="fa fa-smile-o"></i></a></div>
                    <div class="pull-left"><button type="submit" class="btn btn-primary">Đăng</button></div>
                    <div class="clearfix"></div>
                </div>


                <div class="clearfix"></div>
            </div>
        </form>
    </div><!-- POST -->

</div>
</body>
</html>